*.log
test*
!worker/src/app/pipelines/test
logs/restapi/*
logs/workers/*
!logs/*/.gitkeep
queue/*
!queue/.gitkeep
input/*
!input/.gitkeep
!input/test*
!input/test-folder/*
output/*
!output/.gitkeep
*.log
**venv/
**vscode/
**mypy*/
mypy.ini